"*":
  "command-palette":
    preserveLastSearch: true
  core:
    disabledPackages: [
      "language-ruby-on-rails"
      "language-ruby"
      "language-python"
      "language-php"
      "language-perl"
      "language-objective-c"
      "language-mustache"
      "language-make"
      "language-less"
      "language-go"
      "language-toml"
      "linter-jscs"
      "block-comment-lines"
      "expose"
      "pigments"
      "language-clojure"
      "language-c"
      "language-csharp"
      "language-sql"
      "language-yaml"
      "metrics"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "move-panes"
    ]
  editor:
    lineHeight: 1.4
    preferredLineLength: 1
    scrollPastEnd: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "e2875727-5b14-b292-bfca-d5eca82b3f54"
  "highlight-selected": {}
  linter:
    errorPanelHeight: 32
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".ini.source":
  editor:
    preferredLineLength: 1
    tabLength: 4
